.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

.btn-more {
    border: 2px solid #3C78FF;
    color: #3C78FF;
    padding: 16px;
    font-weight: 900;
    font-size: larger;
}