.clients {
    @apply relative desktop:flex desktop:flex-nowrap desktop:flex-row justify-between tablet:flex tablet:flex-wrap tablet:flex-col-reverse tablet:items-center tablet:gap-[100px];
}

.slick-slider {
    width: 320px;
}

.slick-dots {
    height: 20px;
}

.slick-dots li button:before {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C78FF !important;
    font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
    border: 3px solid #3C78FF !important;
    border-radius: 100% !important;
}